<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.8" targetFramework="net45" userInstalled="true" />
  <package id="ApprovalUtilities" version="3.0.8" targetFramework="net45" userInstalled="true" />
  <package id="Catel.Core" version="4.2.0-unstable0138" targetFramework="net45" userInstalled="true" />
  <package id="GitTools.Core" version="1.0.0-unstable0021" targetFramework="net45" userInstalled="true" />
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net45" userInstalled="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" userInstalled="true" />
</packages>