<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.7" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.7" targetFramework="net45" />
  <package id="Catel.Core" version="4.1.0-unstable0030" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>