<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="4.0.0-unstable0461" targetFramework="net45" />
  <package id="Costura.Fody" version="1.3.2.0" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="1.25.0" targetFramework="net45" developmentDependency="true" />
  <package id="LibGit2Sharp" version="0.18.1.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="SourceLink" version="0.3.5-a1402171459-a1cba03d" targetFramework="net45" />
</packages>